body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 10px;
}

header {
  background-color: #4c87af;
  color: white;
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input[type=text] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background-color: #4caf8e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #54af4c;
}

/* main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

main {
  display: flex;
  flex-direction: row; /* Change flex direction to row */
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}

.weather-card h2 {
  margin-top: 10px;
}

.weather-card p {
  margin: 5px;
}

/* Style for the search history */
#search-history {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 200px; /* Fixed width for the search history */
  position: relative;
}

#search-history ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

#search-history ul li {
  margin-bottom: 10px;
}

.search-history-item {
  background-color: #4caf8e;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 4px;
}

.search-history-item:hover {
  background-color: #54af4c;
}

