body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 10px;
}

header {
  background-color: #4c87af;
  color: white;
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input[type=text] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background-color: #4caf8e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #54af4c;
}

main {
  display: flex;
  flex-direction: row;
}

#search-history {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 200px;
  position: relative;
}

#search-history ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-history ul li {
  margin-bottom: 10px;
}

.search-history-item {
  background-color: #4caf8e;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 4px;
}

.search-history-item:hover {
  background-color: #54af4c;
}

#weather-display {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#current-weather {
  margin-bottom: 10px;
}

#forecast {
  display: flex;
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
  margin-top: 20px;
  max-width: 1060px;
}

.weather-card h2 {
  margin-top: 10px;
}

.weather-card p {
  margin: 5px;
}

